vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 May 2026 13:27:55 -0000
vti_author:SR|FIG-BA74D7B40B4\\Fig
vti_modifiedby:SR|FIG-BA74D7B40B4\\Fig
vti_nexttolasttimemodified:TR|28 May 2026 13:27:55 -0000
vti_timecreated:TR|30 May 2026 12:08:00 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\fig\\my documents\\my webs\\fig's site/c\:/documents and settings/fig/my documents/my webs/fig's site:TR|28 May 2026 13:27:55 -0000
vti_cacheddtm:TX|30 May 2026 12:08:27 -0000
vti_filesize:IR|4852
vti_cachedlinkinfo:VX|S|blbnr.gif S|blphb.gif S|blphbp.gif S|blhome.gif S|blnext.gif S|blprev.gif S|blup.gif S|blglb.gif S|blpvb.gif S|blpvbp.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blank/blbnr.gif FSUS|_themes/blank/blphb.gif FSUS|_themes/blank/blphbp.gif FSUS|_themes/blank/blhome.gif FSUS|_themes/blank/blnext.gif FSUS|_themes/blank/blprev.gif FSUS|_themes/blank/blup.gif FSUS|_themes/blank/blglb.gif FSUS|_themes/blank/blpvb.gif FSUS|_themes/blank/blpvbp.gif
vti_lineageid:SR|{BEF3E1F4-D59B-4FAA-A448-B33C1FB4C043}
vti_backlinkinfo:VX|
