vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 May 2026 13:27:55 -0000
vti_author:SR|FIG-BA74D7B40B4\\Fig
vti_modifiedby:SR|FIG-BA74D7B40B4\\Fig
vti_nexttolasttimemodified:TR|28 May 2026 13:27:55 -0000
vti_timecreated:TR|30 May 2026 12:08:01 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\fig\\my documents\\my webs\\fig's site/c\:/documents and settings/fig/my documents/my webs/fig's site:TR|28 May 2026 13:27:55 -0000
vti_cacheddtm:TX|30 May 2026 12:08:27 -0000
vti_filesize:IR|10631
vti_cachedlinkinfo:VX|S|blglb.gif S|blbkgnd.gif S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/blank/blglb.gif FSUS|_themes/blank/blbkgnd.gif FSUS|_themes/blank/blank.gif
vti_lineageid:SR|{9D218747-A91B-48E7-B1A1-00FF77D15086}
vti_backlinkinfo:VX|
