vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|28 May 2026 13:21:19 -0000
vti_author:SR|FIG-BA74D7B40B4\\Fig
vti_modifiedby:SR|FIG-BA74D7B40B4\\Fig
vti_nexttolasttimemodified:TR|28 May 2026 13:21:19 -0000
vti_timecreated:TR|28 May 2026 18:30:41 -0000
vti_extenderversion:SR|5.0.2.2623
vti_syncwith_localhost\\c\:\\documents and settings\\fig\\my documents\\my webs\\fig's site/c\:/documents and settings/fig/my documents/my webs/fig's site:TR|28 May 2026 13:21:19 -0000
vti_cacheddtm:TX|30 May 2026 12:08:40 -0000
vti_filesize:IR|29061
vti_cachedlinkinfo:VX|S|looglob.gif S|lootextb.jpg S|loobul2d.gif S|toolgrad.gif S|dot.gif S|toolgrad.gif S|theme.css S|blank.gif
vti_cachedsvcrellinks:VX|FSUS|_themes/fig-s-site/looglob.gif FSUS|_themes/fig-s-site/lootextb.jpg FSUS|_themes/fig-s-site/loobul2d.gif NSUS|_themes/fig-s-site/toolgrad.gif NSUS|_themes/fig-s-site/dot.gif NSUS|_themes/fig-s-site/toolgrad.gif FSUS|_themes/fig-s-site/theme.css NSUS|_themes/fig-s-site/blank.gif
vti_lineageid:SR|{65269F83-2655-4E9D-8537-FB8CEE23C46B}
vti_backlinkinfo:VX|_themes/fig-s-site/theme.css
